{{define "component"}}

<div class="form-inline">
	<div class="form-group">
		<label for="param-amount">Limit to</label>
		<input type="text" name="param-amount" class="form-control" placeholder="5" size="4" value="{{.Params.amount}}" autofocus required>
		<label for="param-interval">requests per</label>
		<select name="param-interval" class="form-control">
			<option value="1" {{if eq .Params.interval "1"}}selected="selected"{{end}}>second</option>
			<option value="60" {{if eq .Params.interval "60"}}selected="selected"{{end}}>minute</option>
			<option value="300" {{if eq .Params.interval "300"}}selected="selected"{{end}}>5 minutes</option>
			<option value="1800" {{if eq .Params.interval "1800"}}selected="selected"{{end}}>half hour</option>
			<option value="3600" {{if eq .Params.interval "3600"}}selected="selected"{{end}}>hour</option>
		</select>
	</div>
</div>

{{end}}
