{{define "page"}}

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel-body header">
			<h1>{{.Hook.ID}}</h1>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					Create the chain of components incoming requests will
					pass through.
				</p>

				<div class="well well-hidden text-center"><h4>Request</h4></div>
				<div class="component-arrow text-center">
					<img src="/public/images/arrow-down.svg">
				</div>

				{{range .Hook.Components}}
				<form action="/hooks/edit/{{$.Hook.ID}}/update/{{.ID}}" method="POST">
					<div class="well well-component">
						<h4>
							{{$c := index $.Components .Name}}{{$c.Name}}
							<div class="pull-right">
								<a href="/hooks/edit/{{$.Hook.ID}}/edit/{{.ID}}" class="btn btn-default btn-sm" style="margin-right: 10px">Edit</a>
								{{/*
								<button type="submit" name="action" value="move-up" class="btn btn-default btn-xs">Move up</button>
								<button type="submit" name="action" value="move-down" class="btn btn-default btn-xs">Move down</button>
								*/}}
								<button type="submit" name="action" value="delete" class="btn btn-default btn-sm" style="margin-right: 10px">Delete</button>
							</div>
							<div class="clearfix"></div>
							<input type="hidden" name="c" value="{{.ID}}">
						</h4>
					</div>
				</form>
				<div class="component-arrow text-center">
					<img src="/public/images/arrow-down.svg">
				</div>
				{{end}}

				<div class="well well-dashed text-center">
				<form action="/hooks/edit/{{.Hook.ID}}" method="POST">
					<div class="btn-group">
						<button href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							Add component <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							{{range $id, $c := $.Components}}
							<li><a href="/hooks/edit/{{$.Hook.ID}}/add?c={{$id}}">{{$c.Name}}</a></li>
							{{end}}
						</ul>
					</div>
				</form>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<a href="/" class="btn btn-default pull-left">Back</a>
			<a data-toggle="modal" data-target="#confirm-delete" href="#" class="btn btn-danger pull-right">Delete hook</a>

			<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							Are you sure you want to delete this hook?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
							<form action="/hooks/edit/{{.Hook.ID}}" method="POST">
								<div class="pull-right">
									<button name="action" type="submit" value="delete" class="btn btn-danger">Yes, delete this hook!</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{{end}}
