{{define "page"}}

<script src="/public/js/graph.js"></script>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<h1>Hooks</h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					<a href="/hooks/new" class="btn btn-default pull-right">Create new hook</a>
				</p>

				{{range $index, $element := .}}
					<div>
						<h2><a href="/hooks/edit/{{.ID}}">{{.ID}}</a> <small>({{.Count.Total}})</small></h2>
						<div id="graph{{$index}}" class="graph">
							<script>graphs.push({e: "#graph{{$index}}", dataset: {{.Count.Recent}}});</script>
						</div>
						<small>Incoming requests last 48 hours</small>
					</div>
				{{else}}
					No hooks configured yet.
				{{end}}
			</div>
		</div>
	</div>
</div>

<script>draw_graphs();</script>

{{end}}
