{{define "page"}}


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel-body header">
			<h1>New hook</h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				{{if .Err}}<div class="alert alert-danger">{{.Err}}</div>{{end}}
				<form action="/hooks" method="POST" role="form">
					<div class="form-group">
						<label for="id">Hook identifier <br><small style="font-weight: normal;">(only lowercase characters, numbers or dashes allowed)</small></label>
						<input type="text" name="id" class="form-control" value="{{.ID}}" required autofocus>
					</div>
					<div class="form-group pull-right">
						<a href="/">cancel</a><span style="margin: 0 0.5em;">or</span>
						<button type="submit" class="btn btn-success">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{{end}}
